<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>A Lot of To-Dos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="!todos.length" text-center>
      No to-do yet. Add some!
    </ion-item>
    <ion-item *ngFor="let item of todos">
      <ion-label text-wrap>{{ item.description }}</ion-label>
      <ion-checkbox color="secondary" [(ngModel)]="item.archived" (ionChange)="markAsDone(item)"></ion-checkbox>
    </ion-item>
    <ion-item>

    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input type="text" [(ngModel)]="todo.description" placeholder="What do you want to do?"></ion-input>
    <ion-buttons end>
      <button ion-button (click)="addToDo(todo)" [disabled]="!todo.description">
        Add
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
